<div class="container">
    <h1 class="title">ABOUT US</h1>
    <h3>WHO  AM  I?</h3>
    <p><strong>Hi Im Jackson Ford</strong> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word (and) and the Little Blind Text should turn around and return to its own, safe country.</p>
    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>

    <div class="row mt-4 gy-3">
        <div class="col-md-6 col-lg-3 col-12 ">
            <div class="box border-bottom border-primary border-2">
                <i class="fa-regular fa-lightbulb text-primary"></i>
                <h4>Graphic Design</h4>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-12 ">
            <div class="box border-bottom border-danger border-2">
                <i class="fa-solid fa-earth-americas text-danger"></i>
                <h4>Web Design</h4>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-12 ">
            <div class="box border-bottom border-warning border-2">
                <i class="fa-solid fa-database text-warning"></i>
                <h4>Software</h4>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-12 ">
            <div class="box">
                <i class="fa-solid fa-mobile-screen"></i>
                <h4>Application</h4>
            </div>
        </div>
    </div>
</div>
