<div class="cont">
    <h1 class="title">EXPERIENCE</h1>
    <h3>WORK EXPERIENCE</h3>
    <div class="box_cont">
        <div class="box">
            <i class="fas fa-pen bg-primary"></i>
            <div class="content">
                <h5 class="mb-4">
                    Full Stack Developer 
                    <span class="text-secondary" style="font-size: 14px;">2017-2018</span>
                </h5>
                <p class="text-secondary lh-lg">Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-pen bg-danger"></i>
            <div class="content">
                <h5 class="mb-4">
                    Front End Developer at Google Company 
                    <span class="text-secondary" style="font-size: 14px;">2017-2018</span>
                </h5>
                <p class="text-secondary lh-lg">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                </p>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-pen bg-warning bg-opacity-75"></i>
            <div class="content">
                <h5 class="mb-4">
                    System Analyst
                    <span class="text-secondary" style="font-size: 14px;">2017-2018</span>
                </h5>
                <p class="text-secondary lh-lg">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                </p>
            </div>
        </div>
    </div>
</div>