<div class="container">
    <h1 class="title">MY WORK</h1>
    <h3 class="title2 mb-4">RECENT WORK</h3>

    <ul class="nav" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Graphic Design</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Apps</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Software</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="row mt-3 gy-4">
                
                <div class="col-md-6 col-12">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-1-C4nS0eD8.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-2-D-4H1m4L.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-3-pR2ZEVY9.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-4-tHccITd-.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12" *ngIf="hide">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-5-lAucr__a.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12" *ngIf="hide">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-6-DFW03AZ3.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button class="btn btn-primary mt-3" *ngIf="!hide" (click)="showMore()">Show More</button>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

            <div class="row mt-3 gy-4">
                
                <div class="col-md-6 col-12">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-5-lAucr__a.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-6-DFW03AZ3.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-3-pR2ZEVY9.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-4-tHccITd-.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12" *ngIf="hide1">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-5-lAucr__a.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12" *ngIf="hide1">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-6-DFW03AZ3.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button class="btn btn-primary mt-3" *ngIf="!hide1" (click)="showMore1()">Show More</button>

        </div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

            <div class="row mt-3 gy-4">
                
                <div class="col-md-6 col-12">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-1-C4nS0eD8.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-2-D-4H1m4L.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-3-pR2ZEVY9.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-4-tHccITd-.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12" *ngIf="hide2">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-5-lAucr__a.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12" *ngIf="hide2">
                    <div class="img_cont position-relative">
                        <img src="assets/imgs/img-6-DFW03AZ3.jpg" alt="work1" class="img-fluid">
                        <div class="lay bg-primary p-3">
                            <div class="up">
                                <a href="" class="">WORK 02</a>
                                <P>ANIMATION</P>
                            </div>
                            <div class="down">
                                <i class="fas fa-share"></i>
                                <i class="fas fa-eye"><a href="#">100</a></i>
                                <i class="far fa-heart"><a href="#">49</a></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button class="btn btn-primary mt-3" *ngIf="!hide2" (click)="showMore2()">Show More</button>

        </div>
      </div>
</div>

