
<div class="container">
    <h1 class="title">MY SPECIALTY</h1>
    <h3>MY SKILLS</h3>
    <p class="text-secondary lh-lg mb-3">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>

    <div class="row mt-5 gy-3">
        
        <div class="col-md-6 col-12">

            <div class="prog_cont">
                <p class="fw-medium m-0">Photoshop</p>
                <div class="prog mt-2">
                    <div class="bg-primary position-relative" style="width: 75%; height: 100%;">
                        <span class="text-primary fw-bold">75%</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-12">

            <div class="prog_cont">
                <p class="fw-medium m-0">jQuery</p>
                <div class="prog mt-2">
                    <div class="bg-danger position-relative" style="width: 60%; height: 100%;">
                        <span class="text-danger fw-bold">60%</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-12">

            <div class="prog_cont">
                <p class="fw-medium m-0">HTML5</p>
                <div class="prog mt-2">
                    <div class="bg-warning position-relative" style="width: 85%; height: 100%;">
                        <span class="text-warning fw-bold">85%</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-12">

            <div class="prog_cont">
                <p class="fw-medium m-0">CSS3</p>
                <div class="prog mt-2">
                    <div class="bg-info position-relative" style="width: 90%; height: 100%;">
                        <span class="text-info fw-bold">90%</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-12">

            <div class="prog_cont">
                <p class="fw-medium m-0">WordPress</p>
                <div class="prog mt-2">
                    <div class="bg-success position-relative" style="width: 70%; height: 100%;">
                        <span class="text-success fw-bold">70%</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-12">

            <div class="prog_cont">
                <p class="fw-medium m-0">SEO</p>
                <div class="prog mt-2">
                    <div class="bg-secondary position-relative" style="width: 80%; height: 100%;">
                        <span class="text-secondary fw-bold">80%</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>